@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

*{
    background-color: black;
}
.nav{
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 10px;
}
.details{
    padding: 10px;
    color: gray;
    margin-top: 0px;
    margin-left: 10px;
    font-family: 'Inknut Antiqua';
}
.nav h1{
    position: absolute;
    left: 0px;
}
.sepration{
    height: 2px;
    background-color: rgb(46, 44, 44);
    position: relative;
    top: -20px;
}
.circles{
    position: relative;
    width: 113px;
    height: 111px;
    background: #0F0F0F;
    border-radius: 50%;
    display: inline-table;
    margin: 54px;
}

.line{
    position: relative;
    width: 660px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    top: 310px;
    left: 421px;

}
